server {
    server_name 51.250.22.214 infraspr.hopto.org;

    location /api/ {
        proxy_pass http://127.0.0.1:8000;
    }

    location /admin/ {
        proxy_pass http://127.0.0.1:8000;
    }
    
    location / {
        root   /var/www/Taski;
        index  index.html index.htm;
        try_files $uri /index.html;
    }


    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/flugegeheimen.hopto.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/flugegeheimen.hopto.org/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

}

server {
    if ($host = infraspr.hopto.org) {
        return 301 https://$host$request_uri;
    }



    listen 80;
    server_name 51.250.22.214 infraspr.hopto.org;
    return 404;


}

server {
    server_name 51.250.22.214 kittyflue.hopto.org;

    location /api/ {
        proxy_pass http://127.0.0.1:8080;
    }

    location /admin/ {
        proxy_pass http://127.0.0.1:8080;
    }

   location /media/ {
        alias /var/www/infra_sprint1/media/;
   }
    
    location / {
        root   /var/www/infra_sprint1;
        index  index.html index.htm;
        try_files $uri /index.html;
    }


    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/kittyflu.hopto.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/kittyflu.hopto.org/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}


server {
    if ($host = kittyflue.hopto.org) {
        return 301 https://$host$request_uri;
    }



    listen 80;
    server_name 51.250.22.214 kittyflue.hopto.org;
    return 404;


}
